<?page title="Impresión" contentType="text/html;charset=UTF-8"?>
<zk>
	<window id="winImpresion" title="Impresión" border="normal" mode="modal"
		maximizable="true" minimizable="true" closable="true" width="90%"
		height="90%" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('ec.com.exodo.ClassReporteVenta')">
		<iframe onCreate="@command('showReport',item = self)"
			height="100%" width="100%" />
</window>
</zk>