<?init class="ec.com.exodo.service.InicioAutenticacion"?>
<?page title="Listado Venta" contentType="text/html;charset=UTF-8"?>
<zk>
	<window id="winListaVenta" border="normal" mode="embedded"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('ec.com.exodo.ClassReporteVenta')"
		width="100%" height="100%">
		<groupbox>
			<caption label="@load(vm.idioma.listaVenta)">
				<button label="Calcular"
					onClick="@command('calcularReporte')" image="/icon/aceptar.png" />
				<button label="@load(vm.idioma.generarPdf)"
					image="/icon/pdf.png" onClick="@command('generarPdf')"
					tooltiptext="@load(vm.idioma.generarPdf)" />
				<button label="@load(vm.idioma.generarExcel)"
					image="/icon/excel.png" onClick="@command('generarExcel')"
					tooltiptext="@load(vm.idioma.generarExcel)" visible="true" />
			</caption>
		</groupbox>
		<groupbox width="100%">
			<label value="Desde:"
				style="font-size:12px;font-weight:bold;color:black;">
			</label>
			<datebox value="@bind(vm.fechaInicial)"></datebox>
			<label value="Hasta:"
				style="font-size:12px;font-weight:bold;color:black;">
			</label>
			<datebox value="@bind(vm.fechaFinal)"></datebox>
			<space />
			<combobox autocomplete="true" visible="true" autodrop="true"
				mold="rounded" buttonVisible="true" readonly="true"
				selectedItem="@bind(vm.tipo)">
				<comboitem value="ordenVenta" label="Proforma"
					description="Venta" />
				<comboitem value="entregarVenta" label="Venta"
					description="Venta" />
				<comboitem value="planVenta" label="Nota de Entrega"
					description="Venta" />
				<comboitem value="anularVenta" label="Venta Anulada"
					description="Venta" />
			</combobox>
			<space />
		</groupbox>

		<separator></separator>
		<listbox model="@bind(vm.listaVentaCabecera)"
			selectedItem="@bind(vm.ventaCabecera)" sclass="mylistbox"
			mold="paging" pagingPosition="both" pageSize="11" height="500px"
			emptyMessage="@load(vm.idioma.noExisteInformacion)">
			<listhead sizable="true">
				<listheader label="@load(vm.idioma.codigo)"
					width="100%" />
				<listheader label="@load(vm.idioma.fecha)" width="100%" />
				<listheader label="@load(vm.idioma.clienteMin)"
					width="100%" />
				<listheader label="@load(vm.idioma.subTotalMin)"
					width="100%" />
				<listheader label="@load(vm.idioma.descuentoPorcentaje)"
					width="100%" />
				<listheader label="@load(vm.idioma.ivaMin)"
					width="100%" />
				<listheader label="@load(vm.idioma.totalMin)"
					width="100%" />
			</listhead>
			<template name="model" var="lcc">
				<listitem>
					<listcell label="@load(lcc.codigo)" />
					<listcell label="@load(lcc.fechaEmision)" />
					<listcell label="@load(lcc.cliente.nombre)" />
					<listcell label="@load(lcc.subtotal)" />
					<listcell label="@load(lcc.descuentoValor)" />
					<listcell label="@load(lcc.iva)" />
					<listcell label="@load(lcc.total)" />
				</listitem>
			</template>
			<listfoot>
				<listfooter label="@bind(vm.footer)" />
				<listfooter />
				<listfooter />
				<listfooter label="@load(vm.subTotal)" />
				<listfooter label="@load(vm.totalDescuento)" />
				<listfooter label="@load(vm.totalIva)" />
				<listfooter label="@load(vm.total)" />
			</listfoot>
		</listbox>
	</window>
</zk>