<?init class="ec.com.exodo.service.InicioAutenticacion"?>
<?page title="Usuario" contentType="text/html;charset=UTF-8"?>
<zk xmlns:c="client">
	<style>
		.meter { font-size: 1px; height: 3px; } .meter-inner { width:
		0px; height: 3px; } .meter-red .meter-inner{ background: red; }
		.meter-orange .meter-inner{ background: orange; } .meter-green
		.meter-inner{ background: green; }
	</style>
	<window border="normal" sclass="page-content"
		title="@load(vm.idioma.usuario)" apply="org.zkoss.bind.BindComposer"
		mode="embedded"
		viewModel="@id('vm') @init('ec.com.exodo.ClassPerfil')" width="100%"
		height="100%" tooltiptext="Usuario">
		<toolbar align="center" sclass="page-header">
			<toolbarbutton label="@load(vm.idioma.guardar)"
				onClick="@command('guardarEditar')" image="/icon/guardar.png" />
		</toolbar>
		<groupbox sclass="gruodbox-crud" height="75%">
			<grid>
				<rows>
					<row>
						<label value="@load(vm.idioma.cedula)" />
						<textbox width="100%"
							value="@bind(vm.usuario.cedula) @save(vm.usuario.cedula, before='guardarEditar')" />
					</row>
					<row>
						<label value="@load(vm.idioma.nombre)" />
						<textbox width="100%"
							value="@load(vm.usuario.nombre) @save(vm.usuario.nombre, before='guardarEditar')" />
					</row>
					<row>
						<label value="@load(vm.idioma.correo)" />
						<textbox width="100%"
							value="@bind(vm.usuario.email) @save(vm.usuario.email, before='guardarEditar')" />
					</row>
					<row>
						<label value="@load(vm.idioma.usuarioMin)" />
						<textbox width="100%" constraint="no empty"
							value="@bind(vm.usuario.username) @save(vm.usuario.username, before='guardarEditar')" />
					</row>
					<row>
						<label value="@load(vm.idioma.clave)" />
						<vlayout>
							<textbox type="password" id="pwd"
								c:onChanging="meterUpdate(event)"
								value="@bind(vm.password) @save(vm.password, before='guardarEditar')"
								width="100%" constraint="no empty"
								onChange="@command('validarPassword')" instant="true" />
							<div id="meter" sclass="meter"
								width="240px">
								<div sclass="meter-inner"></div>
							</div>
						</vlayout>
					</row>
					<row>
						<label value="Repetir Clave *" />
						<vlayout>
							<textbox value="@bind(vm.passwordRepetir)"
								type="password" width="100%" constraint="no empty"
								onChange="@command('validarPassword')" instant="true" />
							<label value="@bind(vm.claveRepetida)" />
						</vlayout>
					</row>
				</rows>
			</grid>
			<script src="/js/pwd_st.js" />
		</groupbox>
	</window>
</zk>