<?init class="ec.com.exodo.service.InicioAutenticacion"?>
<?page title="Modulo" contentType="text/html;charset=UTF-8"?>
<zk>
	<window id="winFormModulo" border="normal"
		apply="org.zkoss.bind.BindComposer" mode="embedded"
		viewModel="@id('vm') @init('ec.com.exodo.ClassModulo')" width="100%"
		height="100%" tooltiptext="@load(vm.idioma.modulo)">
		<caption label="@load(vm.idioma.modulo)">
			<button label="@load(vm.btGuardarEditar)"
				onClick="@command('guardarEditar')" image="/icon/guardar.png"
				tooltiptext="@load(vm.btGuardarEditar)" />
			<button label="@load(vm.idioma.nuevo)"
				image="/icon/nuevo.png" onClick="@command('nuevo')"
				tooltiptext="@load(vm.idioma.nuevo)" />
		</caption>
		<hbox>
			<groupbox>
				<listbox model="@bind(vm.listaModulo)"
					onSelect="@command('select')" selectedItem="@bind(vm.modulo)"
					sizedByContent="true" height="100%" mold="paging" pageSize="7"
					emptyMessage="@load(vm.idioma.noExisteInformacion)">
					<listhead sizable="true">
						<listheader label="@load(vm.idioma.descripcion)"
							width="250%" />
						<listheader label="@load(vm.idioma.codigo)"
							width="250%" />
						<listheader label="@load(vm.idioma.abreviacion)"
							width="250%" />
					</listhead>
					<template name="model" var="md">
						<listitem>
							<listcell label="@load(md.descripcion)"
								style="font-size:12px;font-weight:bold;color:black;" />
							<listcell label="@load(md.codigo)"
								style="font-size:12px;font-weight:bold;color:black;" />
							<listcell
								label="@load(md.abreviacionCodigo)"
								style="font-size:12px;font-weight:bold;color:black;" />
						</listitem>
					</template>
				</listbox>
			</groupbox>
			<groupbox sclass="gruodbox-crud" width="100%">
				<grid>
					<rows>
						<row>
							<label value="@load(vm.idioma.descripcion)" />
							<hbox>
								<textbox constraint="no empty"
									value="@load(vm.modulo.descripcion) @save(vm.modulo.descripcion, before='guardarEditar')" />
							</hbox>
						</row>
						<row>
							<label value="@load(vm.idioma.codigo)" />
							<textbox constraint="no empty"
								value="@load(vm.modulo.codigo) @save(vm.modulo.codigo, before='guardarEditar')" />
						</row>
						<row>
							<label value="@load(vm.idioma.abreviacion)" />
							<textbox constraint="no empty"
								value="@load(vm.modulo.abreviacionCodigo) @save(vm.modulo.abreviacionCodigo, before='guardarEditar')" />
						</row>
					</rows>
				</grid>
			</groupbox>

		</hbox>
	</window>
</zk>