<?init class="ec.com.exodo.service.InicioAutenticacion"?>
<zk>
	<window border="normal" apply="org.zkoss.bind.BindComposer"
		mode="embedded" width="100%" height="100%"
		viewModel="@id('vm') @init('ec.com.exodo.ClassAlimentarInventario')">
		<groupbox closable="false">
			<caption label="@load(vm.idioma.alimentarInventario)">
				<combobox model="@load(vm.listaAreaSucursal)"
					value="@load(vm.areaSucursal.area.descripcion)"
					selectedItem="@bind(vm.areaSucursal)" readonly="true"
					onSelect="@command('limpiar')"
					tooltiptext="@load(vm.idioma.sucursalMin)">
					<template name="model">
						<comboitem value="@load(each.area.descripcion)"
							label="@load(each.area.descripcion)" />
					</template>
				</combobox>
				<combobox model="@load(vm.listaCategoria)"
					value="@load(vm.categoria.descripcion)"
					selectedItem="@bind(vm.categoria)" readonly="true"
					onSelect="@command('limpiar')"
					tooltiptext="@load(vm.idioma.categoriaMin)">
					<template name="model">
						<comboitem value="@load(each.descripcion)"
							label="@load(each.descripcion)" />
					</template>
				</combobox>
				<button label="@load(vm.idioma.aceptar)"
					image="/icon/aceptar.png" onClick="@command('aceptar')"
					tooltiptext="@load(vm.idioma.aceptar)" />
				<button label="Limpiar" image="/icon/limpiar.png"
					onClick="@command('limpiar')"
					tooltiptext="@load(vm.idioma.aceptar)" />
				<button onClick="@command('guardar')"
					image="/icon/guardar.png" label="@bind(vm.idioma.guardar)"
					tooltiptext="@load(vm.idioma.guardar)" />
				<button label="@load(vm.idioma.generarPdf)"
					image="/icon/pdf.png" onClick="@command('generarPdf')"
					tooltiptext="@load(vm.idioma.generarPdf)" visible="false" />
				<button label="@load(vm.idioma.generarExcel)"
					image="/icon/excel.png" onClick="@command('generarExcel')"
					tooltiptext="@load(vm.idioma.generarExcel)" visible="false" />
			</caption>
		</groupbox>
		<listbox model="@bind(vm.listaProducto)" width="100%"
			mold="paging" pageSize="8" pagingPosition="top"
			sizedByContent="true" height="100%"
			emptyMessage="@load(vm.idioma.noExisteInformacion)">
			<listhead>
				<listheader label="@load(vm.idioma.codigo)" width="200%"
					sort="auto(codigo)" />
				<listheader label="@load(vm.idioma.descripcion)"
					width="400%" sort="auto(descripcion)" />
				<listheader label="@load(vm.idioma.stock)" width="200%"
					sort="auto(cantidad)" />
				<listheader label="@load(vm.idioma.opcion)" />
			</listhead>
			<template name="model" var="c">
				<listitem>
					<listcell>
						<textbox width="100%"
							readonly="@load((c.id >0)?true :false)" value="@bind(c.codigo)"
							onOK="@command('cargarProductoCodigo',item=c.codigo)"
							style="font-size:12px;font-weight:bold;color:black;" />
					</listcell>
					<listcell>
						<textbox width="100%"
							readonly="@load((c.id >0)?true :false)"
							value="@bind(c.descripcion) "
							onOK="@command('cargarProductoDescripcion',item=c.descripcion)" />
					</listcell>
					<listcell>
						<doublebox width="100%"
							format="@load(vm.parametroZul.formatCantidad)"
							constraint="no empty,no negative,no zero"
							value="@bind(c.cantidad) @save(c.cantidad, before='guardar')"
							style="font-size:12px;font-weight:bold;color:black;"
							onOK="@command('confirmar', item=c)"
							onChange="@command('confirmar', item=c)" instant="true" />
					</listcell>
					<listcell>
						<button onClick="@command('eliminar', item=c)"
							image="/icon/eliminar.png"
							visible="@load((c.id >0)?true :false)" />

					</listcell>
				</listitem>
			</template>
			<listfoot>
				<listfooter width="100%" />
				<listfooter width="150%" label="TOTALES" />
				<listfooter label="@load(vm.totales.get('totalStock'))" />
				<!-- 					<listfooter label="@load(vm.totalStockReal)" />
					<listfooter label="@load(vm.totalStockDiferencia)" />
					<listfooter label="@load(vm.totalVenta)" />
					<listfooter label="@load(vm.totalCompra)" />
				-->
			</listfoot>
		</listbox>
	</window>
</zk>