<?init class="ec.com.exodo.service.InicioAutenticacion"?>
<?page title="CONCEPTO MOVIMIENTO" contentType="text/html;charset=UTF-8"?>
<zk>
	<window id="winConceptoMovimiento" border="normal"
		title="@load(vm.idioma.conceptoMovimiento)"
		apply="org.zkoss.bind.BindComposer" mode="embedded"
		viewModel="@id('vm') @init('ec.com.exodo.ClassConceptoMovimiento')"
		width="100%" height="100%">
		<listbox model="@bind(vm.listaConceptoMovimiento)"
			selectedItem="@bind(vm.selectCombo)" sizedByContent="true"
			height="100%" width="100%" mold="paging" pageSize="10"
			pagingPosition="top"
			emptyMessage="@load(vm.idioma.noExisteInformacion)">
			<listhead sizable="true">
				<listheader width="300%">
					<hbox>
						<label value="Concepto:"></label>
						<combobox
							model="@load(vm.comboConceptoMovimiento)" readonly="true"
							selectedItem="@bind(vm.selectCombo)" instant="true"
							onChange="@command('select')">
							<template name="model">
								<comboitem label="@load(each)" />
							</template>
						</combobox>
					</hbox>
				</listheader>
				<listheader label="@load(vm.idioma.descripcion)"
					width="300%" />
				<listheader width="100%">
					<button onClick="@command('nuevo')"
						image="/icon/agregar.png" tooltiptext="@load(vm.idioma.nuevo)" />
				</listheader>
			</listhead>
			<template name="model" var="c">
				<listitem>
					<listcell label="@load(c.concepto)"
						style="font-size:12px;font-weight:bold;color:black;" />
					<listcell>
						<textbox constraint="no empty"
							value="@bind(c.descripcion) @save(c.descripcion, before='guardarEditar')" />
					</listcell>
					<listcell>
						<button image="/icon/eliminar.png"
							style="background:white"
							onClick="@command('eliminar', conceptoMovimiento = c)" />
						<button
							onClick="@command('guardarEditar',conceptoMovimiento = c )"
							image="/icon/guardar.png" tooltiptext="@load(vm.idioma.guardar)" />
					</listcell>
				</listitem>
			</template>
		</listbox>
	</window>
</zk>