<div hflex="1" vflex="1" sclass="banner"
	viewModel="@id('vm') @init('ec.com.contable.Index')">
	<!--<label
		style="position:relative; padding-left: 0px; font-size:24px;color:#008BB6;font-weight:bold;"
		value="@load(vm.idioma.sistemaFacturacion)" /> -->
	<menubar id="menubar" autodrop="true">
		<menu label="@load(vm.idioma.inventario)" visible="@bind(vm.estadoInventario)">
			<menupopup>
				<menuitem forEach="${vm.listaInventario}"
					label="${each.nombre}" id="${each.ruta}"
					onClick="@command('src',item = self)" />
			</menupopup>
		</menu>
		<menu label="@load(vm.idioma.compra)" visible="@bind(vm.estadoCompra)">
			<menupopup>
				<menuitem forEach="${vm.listaCompra}"
					label="${each.nombre}" id="${each.ruta}"
					onClick="@command('src',item = self)" />
			</menupopup>
		</menu>
		<menu label="@load(vm.idioma.venta)" visible="@bind(vm.estadoVenta)">
			<menupopup>
				<menuitem forEach="${vm.listaVenta}"
					label="${each.nombre}" id="${each.ruta}"
					onClick="@command('src',item = self)" />
			</menupopup>
		</menu>
		<menu label="@load(vm.idioma.usuario)" visible="@bind(vm.estadoUsuario)">
			<menupopup>
				<menuitem forEach="${vm.listaUsuario}"
					label="${each.nombre}" id="${each.ruta}"
					onClick="@command('src',item = self)" />
			</menupopup>
		</menu>
		<menu label="@load(vm.idioma.configuracion)" visible="false">
			<menupopup>
				<menuitem forEach="${vm.listaConfiguracion}"
					label="${each.nombre}" id="${each.ruta}"
					onClick="@command('src',item = self)" />
			</menupopup>
		</menu>
		<menu label="@load(vm.idioma.reporte)" visible="@bind(vm.estadoReporte)">
			<menupopup>
				<menuitem forEach="${vm.listaReporte}"
					label="${each.nombre}" id="${each.ruta}"
					onClick="@command('src',item = self)" />
			</menupopup>
		</menu>
		<!--  <menuitem label="@load(vm.idioma.cerrarSesion)"
			apply="ec.com.contable.controlUsuario.Logout" id="logout" />-->
	</menubar>
</div>